html,
body {
    height: 100%;
}

body {
    background-image: url("/img/login/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fondo {
    height: 100%;
    background: rgba(1, 1, 1, 0.644) !important;
    background: -moz-linear-gradient(180deg, rgba(1, 1, 1, 0.685) 38%, rgba(66, 141, 185, 0.788) 100%) !important;
    background: -webkit-linear-gradient(180deg, rgba(1, 1, 1, 0.685) 38%, rgba(66, 142, 185, 0.788) 100%) !important;
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.685) 38%, rgba(66, 142, 185, 0.788) 100%) !important;
    background-repeat: no-repeat !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container a {
    margin-right: 0 !important;
}

.container a:visited,
.container a {
    color: #428DB7 !important;
}

.container>div>div>div {
    background-color: #47555e00;
    border-radius: 5px !important;
}


.container>div>div>div {
    background-color: #47555ed0 !important;
}
