html {
    height: 100%;
}

body {
    min-height: 100%;
    background: rgb(1, 1, 1);
    background: -moz-linear-gradient(180deg, rgba(1, 1, 1, 1) 38%, rgba(66, 142, 185, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(1, 1, 1, 1) 38%, rgba(66, 142, 185, 1) 100%);
    background: linear-gradient(180deg, rgba(1, 1, 1, 1) 38%, rgba(66, 142, 185, 1) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    /*margin-top: 20vh;
    margin-bottom: 20vh;*/
}

.container a {
    margin-right: 0 !important;
}

.container a:visited,
.container a {
    color: #428DB7 !important;
}

.container>div>div>div {
    background-color: #47555eab;
    border-radius: 5px !important;
}