<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header th:fragment="admin_header">

		<nav>
			<div class="nav-wrapper">
				<a th:href="@{'/main'}" class="brand-logo logo">Play<span>it<span></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a th:href="@{''}">Administrar Peliculas</a></li>
					<li><a th:href="@{''}">Administrar Series</a></li>
					<li><a th:href="@{'/genre'}">Administrar géneros</a></li>
					<li><a th:href="@{''}">Administrar usuarios</a></li>
					<li><a th:href="@{'/platform'}">Administrar plataformas</a></li>
					<li><a th:href="@{'/logout'}">Logout</a></li>
				</ul>

				<!-- 	Barra lateral movil -->
				<ul class="sidenav" id="mobile-demo">
					<li><a th:href="@{''}">Administrar Peliculas</a></li>
					<li><a th:href="@{''}">Administrar Series</a></li>
					<li><a th:href="@{'/genre'}">Administrar géneros</a></li>
					<li><a th:href="@{''}">Administrar usuarios</a></li>
					<li><a th:href="@{''/platform''}">Administrar plataformas</a></li>
					<li><a th:href="@{'/logout'}">Logout</a></li>
				</ul>
			</div>
		</nav>

	</header>
</body>
</html>