<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<main></main>
<footer class="page-footer" th:fragment="footer">
			<div class="container">
				<div class="row">
					<ul>
						<li><a href="">Condiciones de uso</a></li>
						<li><a href="">Politica de privacidad</a></li>
						<li><a href="">Info</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">© 2022 Playit</div>
			</div>
		</footer>
</body>
</html>