html,
body {
	height: 100%;
}

body {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
			rgba(20, 63, 88, 1) 39%, rgba(20, 63, 88, 0.9275911048012955) 65%,
			rgba(41, 131, 182, 1) 100%);
}

section {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 5vh;
	color: white;
	width: 50%;
}

form div {
	display: flex;
	justify-content: flex-end;
	margin-top: 4vh;
}

input[type="text"] {
	color: rgb(214, 214, 214) !important;
}

input[type="submit"] {
	font-weight: bold;
	color: rgb(28, 124, 180);
	padding: 3px;
	letter-spacing: 0.5px;
}