html, body {
	min-height: 100%;
}
td, th, a{
	font-family: 'Roboto Slab', Roboto !important;
}


body {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
		rgba(20, 63, 88, 1) 39%, rgba(20, 63, 88, 0.9275911048012955) 65%,
		rgba(41, 131, 182, 1) 100%);
}

section {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 5vh;
	color: white;
	width: 50%;
}

.row {
	display: flex !important;
	justify-content: center !important;
}

.row .col.m6 {
	margin-left: 0 !important;
}

#crear {
	display: flex !important;
	justify-content: flex-end !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="url"], textarea {
	color: rgb(214, 214, 214) !important;
}

input[type="submit"] {
	font-weight: bold;
	color: rgb(28, 124, 180);
	padding: 3px;
	letter-spacing: 0.5px;
}

h6, h5, h4{
	color: white;
}