html, body {
	min-height: 100%;
}

td, th, a {
	font-family: 'Roboto Slab', Roboto !important;
}

body {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
		rgba(20, 63, 88, 1) 39%, rgba(20, 63, 88, 0.9275911048012955) 65%,
		rgba(41, 131, 182, 1) 100%);
}

section {
	display: flex;
	justify-content: center;
}

table {
	color: white;
	width: 50%;
}

table, tr {
	border: 0;
}

tr {
	border-bottom: 1px solid white;
}

table td:last-child {
	display: flex;
	justify-content: flex-end;
}

span {
	color: white;
}

main div:first-of-type {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 3vh;
	padding-right: 1vw;
}

button {
	font-weight: bold;
	letter-spacing: 1px;
	padding: 4px;
}

img {
	max-width: 40% !important;
}

input[type="text"] {
	color: rgb(214, 214, 214) !important;
}

@media screen and (min-width: 576px) {
	img {
		max-width: 18% !important;
	}
}

@media screen and (min-width: 992px) {
	img {
		max-width: 13% !important;
	}
}

tr td:last-child {
	display: flex;
	justify-content: space-around;
}
/* Add Genre To Content */
#addGenre {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
}

#addGenre div:last-child {
	display: flex !important;
	align-items: center !important;
	margin-left: 10px;
}

#addGenre div :first-child {
	margin-right: 10px;
}

#addGenre label {
	margin-top: 4vh;
}

/* Add Person To Content */
#addPerson * {
	padding: 0;
}

#addPerson span{
	padding: 14px 16px;
}


#addPerson {
	display: flex;
	justify-content: center;
	align-items: space-around;
}

#addPerson>div {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

#addPerson>div>div {
	margin-left: 50px;
}