html, body {
	height: 100%;
}

body {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%,
		rgba(20, 63, 88, 1) 39%, rgba(20, 63, 88, 0.9275911048012955) 65%,
		rgba(41, 131, 182, 1) 100%);
}

h4{
	color: white;
	font-family: 'Roboto Slab', Roboto;
	margin-bottom: 5vh;
}
