<!DOCTYPE html>
<html lang="en" th:fragment="user_index">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inicio</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link th:insert="parts/link.html">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/user/main_user.css">
<!-- <script defer src="/js/carousel.js"></script> -->

</head>
<header>

	<div th:replace="parts/header.html :: user_header"></div>

</header>

<body>
	<main>
<div class="row">
		<div class="col s12 m6 l6">
			<h3 class="white-text">Drama</h3>
			<div class="carousel">
				<a class="carousel-item"
					th:href="@{'/film/info?filmId='+${f.getContentId()}}"
					th:each="f : ${films}"> <img
					th:src="@{'/Recursos/Covers/'+${f.cover}}">
				</a>
			</div>
		</div>
		
		<div class="col s12 m6 l6">
			<h3 class="white-text">Suspense</h3>
			<div class="carousel">
				<a class="carousel-item"
					th:href="@{'/userFilm/info?filmId='+${f.getContentId()}}"
					th:each="f : ${films}"> <img
					th:src="@{'/Recursos/Covers/'+${f.cover}}">
				</a>
			</div>
		</div>
</div>


		<!-- <div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Drama</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i
						class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel" >

						<div class="pelicula" th:each="f : ${films}">
							<a th:href="@{'/film/info?filmId='+${f.getContentId()}}">
								<img th:src="@{'/Recursos/Covers/'+${f.cover}}">
							</a>
						</div>


					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i
						class="fas fa-angle-right"></i></button>
			</div>
		</div> -->
	</main>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });
</script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js"
	crossorigin="anonymous"></script>
<script th:replace="parts/scripts.html :: sidenav"></script>



</html>