<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:insert="link.html">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div th:replace="admin/parts/header.html :: admin_header"></div>
	<main>
		<form th:action="@{/platform/add}" method="post" th:object="${platform}" enctype="multipart/form-data">
			<label for="nombre">Nombre</label> <input type="text" id="nombre"
				name="nombre" th:field="*{name}" required>
			</br></br>
			<label for="logo">Logo</label> </br>
			<input type="file" id="logo"name="logo" required>
			</br></br>
			<input type="submit" value="Crear plataforma" />
		</form>
		
		<h6 class="center-align" th:if="${error=='Existe'}"
								th:text="${'La plataforma '+genreName+' ya existe'}"></h6>
	</main>
</body>
</html>