<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crear género</title>
<link th:insert="parts/link.html">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/admin/add.css">
</head>
<body>
	<div th:replace="parts/header.html :: admin_header"></div>
	<main>
		<section>
			<form th:action="@{/platform/add}" method="post"
				th:object="${platform}" enctype="multipart/form-data">
				<label for="nombre">Nombre</label> <input type="text" id="nombre"
					name="nombre" th:field="*{name}" required> </br> </br> <label
					for="logo">Logo</label> </br> <input type="file" id="logo" name="logo">
				</br> </br> 
				<div class="row center-align" id="crear">
					<input type="submit" value="Crear plataforma" />
				</div>
			</form>
		</section>
		<h5 class="center-align white-text" th:if="${error == 'Existe'}"
			th:text="${'La plataforma ya existe'}"></h5>
	</main>
</body>
<script th:replace="parts/scripts.html :: sidenav"></script>
</html>