<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:insert="link.html">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:replace="admin/parts/header.html :: admin_header"></div>
	<main>
		<form th:action="@{/genre/edit}" method="post" th:object="${genre}">
			<label for="nombre">Nombre</label> <input type="text" id="nombre"
				name="nombre" th:field="*{name}" required>
			<input type="submit" value="Guardar género" />
		</form>
	</main>
</body>
</html>