<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar serie</title>
<link th:insert="parts/link.html">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/admin/edit.css">
</head>
<body>
	<div th:replace="parts/header.html :: admin_header"></div>
	<main>
		<section>
			<form th:action="@{/serie/edit}" method="post" th:object="${serie}"
				enctype="multipart/form-data">

				<div class="row">
					<div class="input-field col s12 m6 inline center-align">
						<input id="title" type="text" class="validate" th:field="*{title}"
							required> <label for="title">Título</label>
					</div>
					<div class="input-field col s12 m6 inline center-align">
						<input id="trailer" type="text" class="validate"
							th:field="*{trailer}" required> <label for="trailer">Enlace
							a trailer</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6 inline center-align">
						<input id="premiere" type="date" class="validate"
							th:field="*{premiere}" required> <label for="premiere">Estreno</label>
					</div>
					<div class="input-field col s12 m6 inline center-align">
						<input id="duration" type="text" class="validate"
							th:field="*{duration}" required> <label for="duration">Duración</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6 inline center-align">
						<input id="country" type="text" class="validate"
							th:field="*{country}" required> <label for="country">Pais</label>
					</div>
					<div class="input-field col s12 m6 inline center-align">
						<input id="seasons" type="number" class="validate"
							th:field="*{seasons}" required> <label
							for="seasons">Número de temporadas</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m12">
						<textarea id="synopsis" class="materialize-textarea"
							th:field="*{synopsis}"></textarea>
						<label for="synopsis">Sinopsis</label>
					</div>
				</div>


				<label for="cover">Portada</label> </br> <input type="file" id="cover"
					name="cover">


				<div class="row center-align" id="crear">
					<input type="submit" value="Actualizar serie" />
				</div>

			</form>
		</section>
		<h5 class="center-align white-text" th:if="${error=='Exist'}" th:text="${'La serie ya existe'}"></h5>
	</main>
</body>
<script th:replace="parts/scripts.html :: sidenav"></script>
</html>