<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link th:insert="link.html">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>

	<div th:replace="admin/parts/header.html :: admin_header"></div>
	<main>

		<button>
			<a th:href="@{'/genre/add'}">Añadir género</a>
		</button>
		<table>
			<tr th:each="g : ${genres}">
				<td th:text="${g.getName()}"></td>
				<td>
					<a th:href="@{'/genre/edit?genreId='+${g.getGenreId()}}"><span class="material-symbols-outlined">edit</span></a>
					<a th:href="@{'/genre/delete?genreId='+${g.getGenreId()}}"><span class="material-symbols-outlined">delete</span></a>
				</td>
			</tr>
		</table>
		<h5 class="center-align #2196f3 blue-text" th:if="${genreDeletedId!=null}" th:text="${'El género ha sido eliminado correctamente.'}"></h5>
		<h5 class="center-align #2196f3 blue-text" th:if="${genreEdited!=null}" th:text="${'El género ha sido editado correctamente.'}"></h5>
		<h4 class="center-align #2196f3 blue-text" th:if="${genres.size()==0}">¡Oh No! ¡No
			existe ningún genero!.</h4>

	</main>
</body>

</html>