<!DOCTYPE html>
<html lang="en" th:fragment="admin_index">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Zona de administrador</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link th:insert="parts/link.html">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/admin/main_admin.css">

</head>


<body>
	<div th:replace="parts/header.html :: admin_header"></div>

	<main>
		<h4 class="center-align" th:text="${'Bienvenid@ a la zona del administrador '+user}"></h4>
		<div class="center-align">
			<img class="responsive-img" src="/img/admin/gear.png">
		</div>
	</main>
</body>
<script th:replace="parts/scripts.html :: sidenav"></script>

</html>