<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Personas</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link th:insert="parts/link.html">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/admin/general.css">

</head>

<body>

	<div th:replace="parts/header.html :: admin_header"></div>
	<main>
		<div>
			<button>
				<a th:href="@{'/person/add'}">Añadir persona</a>
			</button>
		</div>
		<section>
			<table th:if="${persons.size()!=0}">
				<tr>
					<th>Nombre de persona</th>
					<th>Primer apellido</th>
					<th>Segundo apellido</th>
					<th>Fecha de nacimiento</th>
				</tr>
				<tr th:each="p : ${persons}">
					<td th:text="${p.getName()}"></td>
					<td th:text="${p.getSurname1()}"></td>
					<td th:text="${p.getSurname2()}"></td>
					<td th:text="${p.getBirthDate()}"></td>
					<td><a
						th:href="@{'/person/edit?personId='+${p.getPersonId()}}"><span
							class="material-symbols-outlined">edit</span></a> <a
						th:href="@{'/person/delete?personId='+${p.getPersonId()}}"><span
							class="material-symbols-outlined">delete</span></a></td>
				</tr>
			</table>
		</section>
		<h5 class="center-align white-text"
			th:if="${deletedPerson=='ok'}"
			th:text="${'La persona ha sido eliminada correctamente. '}"></h5>
		<h5 class="center-align white-text"
			th:if="${addedPerson=='ok'}"
			th:text="${'La persona ha sido añadida correctamente. '}"></h5>
		<h5 class="center-align white-text"
			th:if="${editedPerson=='ok'}"
			th:text="${'La persona ha sido editada correctamente. '}"></h5>
		<h4 class="center-align white-text"
			th:if="${persons.size()==0}">¡Oh No! ¡No existe ningúna
			persona!.</h4>
	</main>
</body>
<script th:replace="parts/scripts.html :: sidenav"></script>
</html>